<?xml version = "1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
	<suite name = "TestNG.">
		<test name = "TestNG2">
		
		<parameter name = "user" value = "OTE1NDEzMjE4MQ=="/>
		<parameter name = "pass" value = "bXlidWRkaTNn"/>
		
		<classes>
			<class	name = "TestNG.TestNG2"/>
		</classes>
		
		</test>
	</suite>
		